{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * One Solr plugin for Craft CMS 3.x
 *
 * One Solr index.twig
 *
 * @author    Michael Ramuta
 * @copyright Copyright (c) 2021 Michael Ramuta
 * @link      https://github.com/onedesign
 * @package   OneSolr
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("onedesign\\onesolr\\assetbundles\\onesolr\\OneSolrAsset") %}
{% do view.registerAssetBundle("onedesign\\onesolr\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/onedesign/one-solr/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "One Solr" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('one-solr') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@onedesign/onesolr/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set tabs = {
    index: {
        label: 'Index',
        url: 'one-solr',
    },
    settings: {
        label: 'Settings',
        url: 'one-solr/settings',
    },
    status: {
        label: 'Status',
        url: 'one-solr/status',
    },
} %}
{% set selectedTab = 'index' %}

{# The content of the CP Section#}
{% set content %}
    <form id="index-form" method="post" class="centered" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('one-solr/default/run-index') }}

        <table id="indexing" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Section"|t }}</th>
                <th scope="col">{{ "Index path"|t }}</th>
                <td class="thin"><a href="#">All</a></td>
            </tr>
            </thead>
            <tbody>
            {% for mapping in craft.oneSolr.mappings %}
                {% set section = craft.sections.getSectionById(mapping.sectionId) %}
                <tr id="mapping-section-{{ mapping.sectionId }}">
                    <th scope="row" data-title="{{ 'Name'|t }}">{{ section.name }}</th>
                    <td data-title="Handle"><code>{{ mapping.mappingPath }}</code></td>
                    <td class="thin">
                        <input type="checkbox" name="section[{{ mapping.sectionId }}]" value="{{ mapping.mappingPath }}">
                    </td>
                </tr>
                <tr class="progress">
                    <td colspan="4">
                        <div></div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <p>{{ "Use full index to delete the section data first (just for the checked sections)"|t }}</p>
        <span><strong>{{ "Full update"|t }}</strong>
            <input type="checkbox" name="fullUpdate" checked />
        </span>
        <hr>
        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Run index'|t }}">
        </div>
    </form>
{% endset %}

{% js %}

    $(document).ready(function () {
        new IndexMapping().init("{{ craft.oneSolr.stepSize }}");
    });
{% endjs %}
