{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * One Solr plugin for Craft CMS 3.x
 *
 * One Solr Settings.twig
 *
 * @author    Michael Ramuta
 * @copyright Copyright (c) 2021 Michael Ramuta
 * @link      https://github.com/onedesign
 * @package   OneSolr
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("onedesign\\onesolr\\assetbundles\\onesolr\\OneSolrAsset") %}
{% do view.registerAssetBundle("onedesign\\onesolr\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/onedesign/one-solr/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "OneSolr Settings" %}
{% set selectedSubnavItem = 'settings' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('one-solr') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@onedesign/onesolr/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set tabs = {
    index: {
        label: 'Index',
        url: '/admin/one-solr',
    },
    settings: {
        label: 'Settings',
        url: 'settings',
    },
    status: {
        label: 'Status',
        url: 'status',
    },
} %}
{% set selectedTab = 'settings' %}
{% set fullPageForm = true %}


{# The content of the CP Section#}
{% set content %}
    {{ actionInput('one-solr/default/save-settings') }}
    {{ redirectInput('one-solr/settings') }}
    <table class="data fullwidth">
        <thead>
        <tr>
            <th>Section</th>
            <th>Index Path</th>
        </tr>
        </thead>
        <tbody>
        {% for section in craft.sections.allSections() %}
            <tr>
                <td>{{ section.name }}</td>
                <td>
                    <div class="input">
                        <input type="hidden" name="mappingPaths[{{ section.id }}][sectionId]" value="{{ section.id }}">
                        <select name="mappingPaths[{{ section.id }}][mapping]">
                            <option value="">Select Mapping</option>
                            {% for mapping in craft.oneSolr.getMappingTemplates() %}
                                <option value="{{ mapping }}"{% if craft.oneSolr.mappingsForSection(section) == mapping %} selected{% endif %}>{{ mapping }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}
